body {
  background-color: aliceblue;
}
@media (max-width: 1680px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 95vw;
    height: 80vh;
    margin: 10rem auto 0 auto;
    border-bottom: 1rem solid #f2f7a1;
    gap: 2rem;
  }
  .box {
    background-color: #35a29f;
    grid-gap: 2rem;
    position: relative;
    height: 100%;
  }

  .dot-one,
  .dot-two,
  .dot-five,
  .dot-six {
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    background-color: #aa77ff;
    position: absolute;
  }

  .dot-one {
    top: 1rem;
    left: 5rem;
  }

  .dot-two {
    top: 14rem;
    left: 5rem;
  }
  .dot-three,
  .dot-four {
    border-radius: 50%;
    width: 13rem;
    height: 13rem;
    position: absolute;
  }

  .dot-three {
    background-color: #d5bfbf;
    right: -8vw;
    top: 15vh;
    z-index: 1;
  }
  .dot-four {
    z-index: 1;
    background-color: paleturquoise;
    right: 4rem;
    top: 1rem;
  }

  .dot-five {
    top: 35vh;
    left: 14vw;
    background-color: paleturquoise;
  }

  .dot-six {
    top: 4rem;
    left: 40vw;
    z-index: 1;
  }

  .largeBox {
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: #35a29f;
    grid-column: 1 / 4;
    grid-row: 2 / 4;
    margin-bottom: 1rem;
  }

  .mountain-one {
    width: 0;
    height: 0;
    border-left: 14vw solid transparent;
    border-right: 15vw solid transparent;
    border-bottom: 60vh solid #4a47a3;
    margin-left: 40rem;
    z-index: 2;
  }

  .mountain-two {
    position: absolute;
    right: 4vh;
    width: 0;
    height: 0;
    border-left: 12vw solid transparent;
    border-right: 13vw solid transparent;
    border-bottom: 41vh solid #e7d9ea;
    z-index: 2;
  }
}
