body {
  background-color: aliceblue;
}
@media (max-width: 1680px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 95vw;
    height: 80vh;
    margin: 10rem auto 0 auto;
    border-bottom: 1rem solid #f2f7a1;
    gap: 2rem;
  }
  .box {
    background-color: #35a29f;
    grid-gap: 2rem;
    position: relative;
    height: 100%;
  }

  .dot-one,
  .dot-two,
  .dot-five,
  .dot-six {
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    background-color: #aa77ff;
    position: absolute;
  }

  .dot-one {
    top: 1rem;
    left: 5rem;
  }

  .dot-two {
    top: 14rem;
    left: 5rem;
  }
  .dot-three,
  .dot-four {
    border-radius: 50%;
    width: 13rem;
    height: 13rem;
    position: absolute;
  }

  .dot-three {
    background-color: #d5bfbf;
    right: -8vw;
    top: 15vh;
    z-index: 1;
  }
  .dot-four {
    z-index: 1;
    background-color: paleturquoise;
    right: 4rem;
    top: 1rem;
  }

  .dot-five {
    top: 35vh;
    left: 14vw;
    background-color: paleturquoise;
  }

  .dot-six {
    top: 4rem;
    left: 40vw;
    z-index: 1;
  }

  .largeBox {
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: #35a29f;
    grid-column: 1 / 4;
    grid-row: 2 / 4;
    margin-bottom: 1rem;
  }

  .mountain-one {
    width: 0;
    height: 0;
    border-left: 14vw solid transparent;
    border-right: 15vw solid transparent;
    border-bottom: 60vh solid #4a47a3;
    margin-right: 14vw;
    z-index: 2;
  }

  .mountain-two {
    position: absolute;
    right: 4vh;
    width: 0;
    height: 0;
    border-left: 12vw solid transparent;
    border-right: 13vw solid transparent;
    border-bottom: 41vh solid #e7d9ea;
    z-index: 2;
  }
}

.family-tree {
  width: 60vw;
}

.person {
  text-align: center;
  width: 100px;
}
.head {
  background-color: #d4ecdd;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 auto 3px auto;
}
.upper-body {
  display: flex;
  justify-content: center;
}

.arm-left,
.arm-right {
  background-color: #d4ecdd;
  width: 15px;
  height: 50px;
}

.arm-left {
  margin-top: -3px;
  border-radius: 50% 0% 50% 50% / 26% 15% 15% 20%;
  transform: rotate(35deg);
}
.arm-right {
  margin-top: -3px;
  margin-left: 1px;
  border-radius: 0% 50% 50% 50% / 26% 15% 15% 20%;
  transform: rotate(-35deg);
}

.torso {
  border-radius: 15% 6% 50% 50% / 26% 26% 0% 0%;
  background-color: #d4ecdd;
  width: 40px;
  height: 60px;
  z-index: 1;
}
.lower-body {
  display: flex;
}
.leg-left {
  margin-left: 30px;
  background-color: #d4ecdd;
  width: 15px;
  height: 55px;
  border-radius: 0% 0% 50% 50% / 26% 26% 10% 10%;
}
.leg-right {
  background-color: #d4ecdd;
  border-radius: 0% 0% 50% 50% / 26% 26% 10% 10%;
  width: 15px;
  height: 55px;
  margin-left: 10px;
}
